In [1]:
from urllib.request import urlretrieve
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [161]:
# initialize list of lists
data = [['hard','2019_1','1','1','2','tom', 'jim'], ['hard','2019_1','2','3','4','bill', 'jeff'],['clay','2019_2','3','1','2','tom', 'jim'], ['clay','2019_2','4','4','3','jeff', 'bill'],['hard','2019_3','5','1','2','tom', 'jim'], ['hard','2019_3','6','4','3','jeff', 'bill'],['hard','2019_4','7','1','5','tom', 'chris'],['hard','2019_5','8','1','2','tom', 'jim'],['hard','2019_6','9','2','1','jim', 'tom'],['hard','2019_7','10','2','1','jim', 'tom']]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Surface', 'Tour_Week','match_id','w_ID','l_ID','Winner', 'Loser'])
df

  Surface Tour_Week match_id w_ID l_ID Winner  Loser
0    hard    2019_1        1    1    2    tom    jim
1    hard    2019_1        2    3    4   bill   jeff
2    clay    2019_2        3    1    2    tom    jim
3    clay    2019_2        4    4    3   jeff   bill
4    hard    2019_3        5    1    2    tom    jim
5    hard    2019_3        6    4    3   jeff   bill
6    hard    2019_4        7    1    5    tom  chris
7    hard    2019_5        8    1    2    tom    jim
8    hard    2019_6        9    2    1    jim    tom
9    hard    2019_7       10    2    1    jim    tom

In [163]:
df_winners = df
df_winners["Outcome"] = 1
df_winners = df_winners.rename(columns={'Winner': 'Player','Loser': 'Opponent','w_ID':'player_ID','l_ID':'opponent_ID'})
df_winners

  Surface Tour_Week match_id player_ID opponent_ID Player Opponent  Outcome
0    hard    2019_1        1         1           2    tom      jim        1
1    hard    2019_1        2         3           4   bill     jeff        1
2    clay    2019_2        3         1           2    tom      jim        1
3    clay    2019_2        4         4           3   jeff     bill        1
4    hard    2019_3        5         1           2    tom      jim        1
5    hard    2019_3        6         4           3   jeff     bill        1
6    hard    2019_4        7         1           5    tom    chris        1
7    hard    2019_5        8         1           2    tom      jim        1
8    hard    2019_6        9         2           1    jim      tom        1
9    hard    2019_7       10         2           1    jim      tom        1

In [166]:
df_losers = df
df_losers["Outcome"] = 0
df_losers = df_losers.rename(columns={'Loser': 'Player','Winner': 'Opponent','l_ID':'player_ID','w_ID':'opponent_ID'})
df_losers

  Surface Tour_Week match_id opponent_ID player_ID Opponent Player  Outcome
0    hard    2019_1        1           1         2      tom    jim        0
1    hard    2019_1        2           3         4     bill   jeff        0
2    clay    2019_2        3           1         2      tom    jim        0
3    clay    2019_2        4           4         3     jeff   bill        0
4    hard    2019_3        5           1         2      tom    jim        0
5    hard    2019_3        6           4         3     jeff   bill        0
6    hard    2019_4        7           1         5      tom  chris        0
7    hard    2019_5        8           1         2      tom    jim        0
8    hard    2019_6        9           2         1      jim    tom        0
9    hard    2019_7       10           2         1      jim    tom        0

In [167]:
df_players = pd.concat([df_winners, df_losers], ignore_index=True)
df_players

   Surface Tour_Week match_id player_ID opponent_ID Player Opponent  Outcome
0     hard    2019_1        1         1           2    tom      jim        1
1     hard    2019_1        2         3           4   bill     jeff        1
2     clay    2019_2        3         1           2    tom      jim        1
3     clay    2019_2        4         4           3   jeff     bill        1
4     hard    2019_3        5         1           2    tom      jim        1
5     hard    2019_3        6         4           3   jeff     bill        1
6     hard    2019_4        7         1           5    tom    chris        1
7     hard    2019_5        8         1           2    tom      jim        1
8     hard    2019_6        9         2           1    jim      tom        1
9     hard    2019_7       10         2           1    jim      tom        1
10    hard    2019_1        1         2           1    jim      tom        0
11    hard    2019_1        2         4           3   jeff     bill        0
12    clay    2019_2        3         2           1    jim      tom        0
13    clay    2019_2        4         3           4   bill     jeff        0
14    hard    2019_3        5         2           1    jim      tom        0
15    hard    2019_3        6         3           4   bill     jeff        0
16    hard    2019_4        7         5           1  chris      tom        0
17    hard    2019_5        8         2           1    jim      tom        0
18    hard    2019_6        9         1           2    tom      jim        0
19    hard    2019_7       10         1           2    tom      jim        0

In [175]:
df_players = df_players.sort_values(by=['Tour_Week'], ascending = False)
df_players

,Surface,Tour_Week,match_id,player_ID,opponent_ID,Player,Opponent,Outcome,past_W
19,hard,2019_7,10,1,2,tom,jim,0,0.0
9,hard,2019_7,10,2,1,jim,tom,1,0.0
8,hard,2019_6,9,2,1,jim,tom,1,1.0
18,hard,2019_6,9,1,2,tom,jim,0,0.0
7,hard,2019_5,8,1,2,tom,jim,1,0.0
17,hard,2019_5,8,2,1,jim,tom,0,2.0
16,hard,2019_4,7,5,1,chris,tom,0,0.0
6,hard,2019_4,7,1,5,tom,chris,1,0.0
4,hard,2019_3,5,1,2,tom,jim,1,1.0
5,hard,2019_3,6,4,3,jeff,bill,1,0.0
14,hard,2019_3,5,2,1,jim,tom,0,2.0
15,hard,2019_3,6,3,4,bill,jeff,0,0.0
2,clay,2019_2,3,1,2,tom,jim,1,0.0
3,clay,2019_2,4,4,3,jeff,bill,1,0.0
12,clay,2019_2,3,2,1,jim,tom,0,0.0
13,clay,2019_2,4,3,4,bill,jeff,0,0.0
1,hard,2019_1,2,3,4,bill,jeff,1,0.0
0,hard,2019_1,1,1,2,tom,jim,1,2.0
11,hard,2019_1,2,4,3,jeff,bill,0,1.0
10,hard,2019_1,1,2,1,jim,tom,0,2.0

In [178]:
df_players = df_players.iloc[::-1]
df_players['past_W'] = df_players.groupby(['player_ID','opponent_ID','Surface'])['Outcome'].transform(lambda x: x.rolling(window=100, min_periods = 1).sum().shift(1))
df_players = df_players.iloc[::-1]
df_players['past_W'] = df_players['past_W'].fillna(0)
df_players

,Surface,Tour_Week,match_id,player_ID,opponent_ID,Player,Opponent,Outcome,past_W
19,hard,2019_7,10,1,2,tom,jim,0,3.0
9,hard,2019_7,10,2,1,jim,tom,1,1.0
8,hard,2019_6,9,2,1,jim,tom,1,0.0
18,hard,2019_6,9,1,2,tom,jim,0,3.0
7,hard,2019_5,8,1,2,tom,jim,1,2.0
17,hard,2019_5,8,2,1,jim,tom,0,0.0
16,hard,2019_4,7,5,1,chris,tom,0,0.0
6,hard,2019_4,7,1,5,tom,chris,1,0.0
4,hard,2019_3,5,1,2,tom,jim,1,1.0
5,hard,2019_3,6,4,3,jeff,bill,1,0.0
14,hard,2019_3,5,2,1,jim,tom,0,0.0
15,hard,2019_3,6,3,4,bill,jeff,0,1.0
2,clay,2019_2,3,1,2,tom,jim,1,0.0
3,clay,2019_2,4,4,3,jeff,bill,1,0.0
12,clay,2019_2,3,2,1,jim,tom,0,0.0
13,clay,2019_2,4,3,4,bill,jeff,0,0.0
1,hard,2019_1,2,3,4,bill,jeff,1,0.0
0,hard,2019_1,1,1,2,tom,jim,1,0.0
11,hard,2019_1,2,4,3,jeff,bill,0,0.0
10,hard,2019_1,1,2,1,jim,tom,0,0.0

In [179]:
# Split back into winner and loser dataframes transiently
df_winners2 = df_players[df_players['Outcome'] == 1]
df_losers2 = df_players[df_players['Outcome'] == 0]

In [180]:
# Now we can just do a left join on m_id
df_players2 = df_winners2.merge(df_losers2, on='match_id', how = 'left')
df_players2

,Surface_x,Tour_Week_x,match_id,player_ID_x,opponent_ID_x,Player_x,Opponent_x,Outcome_x,past_W_x,Surface_y,Tour_Week_y,player_ID_y,opponent_ID_y,Player_y,Opponent_y,Outcome_y,past_W_y
0,hard,2019_7,10,2,1,jim,tom,1,1.0,hard,2019_7,1,2,tom,jim,0,3.0
1,hard,2019_6,9,2,1,jim,tom,1,0.0,hard,2019_6,1,2,tom,jim,0,3.0
2,hard,2019_5,8,1,2,tom,jim,1,2.0,hard,2019_5,2,1,jim,tom,0,0.0
3,hard,2019_4,7,1,5,tom,chris,1,0.0,hard,2019_4,5,1,chris,tom,0,0.0
4,hard,2019_3,5,1,2,tom,jim,1,1.0,hard,2019_3,2,1,jim,tom,0,0.0
5,hard,2019_3,6,4,3,jeff,bill,1,0.0,hard,2019_3,3,4,bill,jeff,0,1.0
6,clay,2019_2,3,1,2,tom,jim,1,0.0,clay,2019_2,2,1,jim,tom,0,0.0
7,clay,2019_2,4,4,3,jeff,bill,1,0.0,clay,2019_2,3,4,bill,jeff,0,0.0
8,hard,2019_1,2,3,4,bill,jeff,1,0.0,hard,2019_1,4,3,jeff,bill,0,0.0
9,hard,2019_1,1,1,2,tom,jim,1,0.0,hard,2019_1,2,1,jim,tom,0,0.0

In [ ]:
df = df.drop(['Surface_y','Tour_Week_y',],axis=1)

In [ ]:
df_winners = df_winners.iloc[::-1]
df_winners['W_past_W'] = df.groupby(['w_ID','l_ID','Surface'])['Winner'].transform(lambda x: x.rolling(window=100, min_periods = 1).count().shift(1))
df = df.iloc[::-1]
df['W_past_W'] = df['W_past_W'].fillna(0)
df["W_past_L(desired)"] = [3,3,0,0,0,1,0,0,0,0]
df

In [124]:
df = df.sort_values(by=['Tour_Week'], ascending = False)
df

  Surface Tour_Week w_ID l_ID Winner  Loser
9    hard    2019_7    2    1    jim    tom
8    hard    2019_6    2    1    jim    tom
7    hard    2019_5    1    2    tom    jim
6    hard    2019_4    1    5    tom  chris
4    hard    2019_3    1    2    tom    jim
5    hard    2019_3    4    3   jeff   bill
2    clay    2019_2    1    2    tom    jim
3    clay    2019_2    4    3   jeff   bill
0    hard    2019_1    1    2    tom    jim
1    hard    2019_1    3    4   bill   jeff

In [125]:
df = df.iloc[::-1]
df['W_past_W'] = df.groupby(['w_ID','l_ID','Surface'])['Winner'].transform(lambda x: x.rolling(window=100, min_periods = 1).count().shift(1))
df = df.iloc[::-1]
df['W_past_W'] = df['W_past_W'].fillna(0)
df["W_past_L(desired)"] = [3,3,0,0,0,1,0,0,0,0]
df

  Surface Tour_Week w_ID l_ID Winner  Loser  W_past_W  W_past_L(desired)
9    hard    2019_7    2    1    jim    tom       1.0                  3
8    hard    2019_6    2    1    jim    tom       0.0                  3
7    hard    2019_5    1    2    tom    jim       2.0                  0
6    hard    2019_4    1    5    tom  chris       0.0                  0
4    hard    2019_3    1    2    tom    jim       1.0                  0
5    hard    2019_3    4    3   jeff   bill       0.0                  1
2    clay    2019_2    1    2    tom    jim       0.0                  0
3    clay    2019_2    4    3   jeff   bill       0.0                  0
0    hard    2019_1    1    2    tom    jim       0.0                  0
1    hard    2019_1    3    4   bill   jeff       0.0                  0

In [128]:
df2 = df.rename(columns={'Winner': 'Loser', 'Loser': 'Winner','w_ID': 'l_ID','l_ID': 'w_ID'})
df2

  Surface Tour_Week l_ID w_ID Loser Winner  W_past_W  W_past_L(desired)
9    hard    2019_7    2    1   jim    tom       1.0                  3
8    hard    2019_6    2    1   jim    tom       0.0                  3
7    hard    2019_5    1    2   tom    jim       2.0                  0
6    hard    2019_4    1    5   tom  chris       0.0                  0
4    hard    2019_3    1    2   tom    jim       1.0                  0
5    hard    2019_3    4    3  jeff   bill       0.0                  1
2    clay    2019_2    1    2   tom    jim       0.0                  0
3    clay    2019_2    4    3  jeff   bill       0.0                  0
0    hard    2019_1    1    2   tom    jim       0.0                  0
1    hard    2019_1    3    4  bill   jeff       0.0                  0

In [132]:
df2 = df2.iloc[::-1]
df2['L_past_L'] = df2.groupby(['w_ID','l_ID','Surface'])['Winner'].transform(lambda x: x.rolling(window=100, min_periods = 1).count().shift(1))
df2 = df2.iloc[::-1]
df2['L_past_L'] = df2['L_past_L'].fillna(0)
df2["W_past_L(desired)"] = [3,3,0,0,0,1,0,0,0,0]
df2

,Surface,Tour_Week,l_ID,w_ID,Loser,Winner,W_past_W,W_past_L(desired),L_past_L
9,hard,2019_7,2,1,jim,tom,1.0,3,1.0
8,hard,2019_6,2,1,jim,tom,0.0,3,0.0
7,hard,2019_5,1,2,tom,jim,2.0,0,2.0
6,hard,2019_4,1,5,tom,chris,0.0,0,0.0
4,hard,2019_3,1,2,tom,jim,1.0,0,1.0
5,hard,2019_3,4,3,jeff,bill,0.0,1,0.0
2,clay,2019_2,1,2,tom,jim,0.0,0,0.0
3,clay,2019_2,4,3,jeff,bill,0.0,0,0.0
0,hard,2019_1,1,2,tom,jim,0.0,0,0.0
1,hard,2019_1,3,4,bill,jeff,0.0,0,0.0